<%- include('./header') %>
<div class="container-fluid">
  <div class="row">
    <%- include('./sidebar') %> 
    <div class="col-md-10">
      <br><br><br>
      <h1>Add a new product</h1>
      <% if(locals.errors != null) {%>
        <% errors.forEach(error =>{ %>
            <li class="alert alert-danger"><%= error.msg %></li>
       <% }) %> 
    <% } %> 
    <form action="/admin/create" method="POST" enctype="multipart/form-data">
        <%- include('../partials/_product') %> 
      <div class="my-3">
        <button type="submit" class="btn btn-info mt-5 mb-3">Create</button>
      </div>
    </form>
    </div>
  </div>
</div>