<% if(locals.errors != null) {%>
    <% errors.forEach(error =>{ %>
        <li class="alert alert-danger"><%= error.msg %></li>
   <% }) %> 
<% } %> 
<form method="POST" action="/admin/products/<%= product.id %>?_method=DELETE" enctype="multipart/form-data">
    <%- include('../partials/_product') %> 
  <div class="my-3">
    <button type="submit" class="btn btn-info mt-5 mb-3">Delete</button>
  </div>
</form>