<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Basic SEO -->
 <meta name="description" content="meme website to laugh and chill">
 <meta name="keywords" content="Afromeme, afromeme, afro meme, afromeme cameroon, afromeme cameroun, the black dev, theblackdev, marc sitze, wembe, sitze, jorelmarc, marcjazer, marc jazer">
    <!-- Title -->
    <title>shop</title>
    <link rel="shortcut icon" href="/img/favicon/fav-32x32.png">
    <!-- <script src="/js/jquery.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css.map"> -->

    <!-- Magnific popUp -->
    <link rel="stylesheet" href="/css/magnific-popup/magnific-popup.min.css">
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <!-- <link rel="stylesheet" href="/css/album.css"> -->

    <link rel="stylesheet" href="/css/dashboard.css">
    <!-- Responsive CSS -->
    <!-- <link rel="stylesheet" href="/css/responsive.css"> -->

</head>

 <!-- Navigation -->
 <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">AfroShop</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>