<div class="col-md-2">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/admin">
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/create">
            <span data-feather="shopping-cart"></span>
            Add products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">
            <span data-feather="shopping-cart"></span>
            Manage Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/category">
            <span data-feather="shopping-cart"></span>
            Categories
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="users"></span>
            Users
          </a>
        </li>
      </ul>

      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            View orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Payements
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Logout
          </a>
        </li>
    </div>
</nav>
</div>