<%- include('../layout/header.ejs') %> 

<h2 class="text-center">Login</h2>
<% if (locals.errors != null ) { %> 
    <% errors.forEach(error => { %>
        <li class="alert alert-danger"><%= error.msg %></li>
   <% }) %> 
<% } %> 

<form action="/login" method="POST" id="login">
  <label>
    <p class="label-txt">ENTER YOUR EMAIL</p>
    <input type="email" name="email" value="" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">ENTER YOUR PASSWORD</p>
    <input type="password" name="password" value="" placeholder="password" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button type="submit" class="submit">Login</button>
  <a href="/register">Register</a>
</form>


    <%- include('../layout/footer.ejs') %>
    <script src="/js/login.js"></script> 

