<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Title -->
    <title>Open Dreams Organization</title>

    <!-- Basic SEO -->
    <meta name="description" content="Creative website development with html5, css3, jQuery & bootstrap framework">
    <meta name="keywords" content="HTML5, CSS3, JQuery, Bootstrap, Web Design, Web Development, Responsive website, Creative website">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/logo.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl-carousel/owl.theme.default.min.css">

    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="/css/responsive-tabs/responsive-tabs.min.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup/magnific-popup.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate/animate.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- slide CSS -->
    <link rel="stylesheet" href="/css/slides.css">

    <!-- portfolio Slider -->
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/portfolio.css">

    <!-- Pop Up Css -->
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/summer.css">

    <link rel="stylesheet" href="/css/main.css">

    <script>document.getElementsByTagName("html")[0].className += " js";</script>

    <!-- Demo styles -->
  <style>
    html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 50%;
    }
    .swiper-slide {
      text-align: justify;
      font-size: 18px;
      background: #fff;
      padding: 0px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
     text-align: justify;
    }
  </style>
  <style type="text/css">
        /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 5%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

</style>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="65">

    <!-- Preloader -->
    <!-- <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>  -->

    <!-- Header -->
    <nav id="navbar" class="navbar navbar-expand-lg">
      <a class="navbar-brand px-2 py-0 " href="/">
        <img src="/images/odLogo.png" width="75" alt="logo">
      </a>
      <button class="navbar-toggler" type="button">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </button>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="/summer">Summer Academy</a>
          </li>

          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="/scholars">Scholars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="/about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="/articles">Blog</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="https://www.open-dreams.org/blank">Blogs</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="/login">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 text-capitalize btn btn-warning" target="_blank" href="https://www.globalgiving.org/projects/open-dreams-for-cameroon/">
              Donate
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Header Ends -->
