<%- include('./layouts/header.ejs') %>
 <!-- Home -->
 <section id="home">

    <!-- Background Video -->
    <video id="home-bg-video" autoplay loop muted>
        <source src="/video/solo.mp4" type="video/mp4">
        <source src="/video/solo.ogv" type="video/ogg">
        <source src="/video/solo.webm" type="video/webm">
    </video>

    <!-- Overlay -->
    <div id="home-overlay"></div>

    <!-- Home Content -->
    <div id="home-content">

        <div id="home-content-inner" class="text-center">

            <div id="home-heading">
                <h1 id="home-heading-1">Open Dreams</h1>
                <div class="span" style="margin-top: -20px;">
                    <span class="span-hr-left">
                      <hr/>
                      <hr/>
                    </span>
                    <h1 id="home-heading-2"><span>Organization</span></h1>
                    <span class="span-hr-right">
                      <hr/>
                      <hr/>
                    </span>
                  </div>
                <!-- <h1 id="home-heading-2"> <span>Organization</span></h1> -->
            </div>

            <div id="home-text">
                <p><br><br>We Started Open Dreams to help empower future leaders of Cameroon and Africa ~ Blaise Buma</p>
            </div>

            <div class="container">
                <div class="row wow fadeInUp display" data-wow-duration="2s">

                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 01 -->
                        <div class="stats-item text-center">
                            <i class="fa fa-bar-chart"></i>
                            <h3 class="counter">5</h3>
                            <p>Years of Community Service</p>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 02 -->
                        <div class="stats-item text-center">
                            <i class="fa fa-codepen"></i>
                            <h3 class="counter">50 </h3>
                            <p>Plus Outreach Projects</p>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 03 -->
                        <div class="stats-item text-center">
                            <i class="fa fa-trophy"></i>
                            <h3 class="counter">80</h3>
                            <p>Fully Funded Scholarships</p>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 04 -->
                        <div class="stats-item text-center">
                            <i class="fa fa-users"></i>
                            <h3 class="counter">200</h3>
                            <p>Plus Students mentored</p>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- Arrow Down -->
    <a href="#about" id="arrow-down" class="smooth-scroll">
        <i class="fa fa-angle-down"></i>
    </a>

</section>
<!-- Home Ends -->

<!-- About -->
<section id="about">

    <!-- About 01 -->
    <div id="about-01">

        <div class="content-box-lg">

            <div class="container">

                <div class="row">

                    <!-- About Left Side -->
                    <!-- <div class="col-md-6 col-sm-6 wow slideInLeft" data-wow-duration="1s">

                        <div id="about-left">
                            <div class="vertical-heading">
                                <h5></h5>
                                <h2><strong></strong><br></h2>
                            </div>
                        </div>

                    </div> -->

                    <!-- About Right Side -->
                    <div class="col-md-10 col-sm-10 wow slideInRight" data-wow-duration="1s">

                        <div id="about-right">
                            <!-- <p>At Open Dreams, we see education as a gift that opens doors. We help those who need it most find the quality education they deserve</p>

                            <p>Quality education is the sine qua non of our survival; Giving every young person the opportunity to access quality education is therefore a shared responsibility.~~ Elvis Tanwie </p>
                         -->
                         <p style="font-weight: bold;">
                            Education provides the key to reach one’s fullest potential and achieve one’s dreams.  At Open Dreams, we’re building the bridge between talent and opportunity that will convert that dream into reality. 
                         </p>
                        </div>

                    </div>

                </div>

                <!-- About Bottom -->
                <div class="row">

                    <div class="col-md-12 wow fadeInUp" data-wow-duration="2s">

                        <div id="about-bottom">
                            <img src="img/about/aboutOpen.png" alt="About Us" width="100%" class="img-responsive">
                            <!-- <img src="images/about.jpeg" alt="About Us" class="img-responsive about-open"> -->

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- About 01 Ends -->

    <!-- About 02 -->
    <div id="about-02">

        <div class="content-box-md">

            <div class="container">

                <div class="row">

                    <div class="col-md-4 col-sm-4 wow fadeInLeft">
                        <!-- About item 01 -->
                        <div class="about-item text-center">
                            <i class="fa fa-rocket"></i>
                            <h3>Mission</h3>
                            <hr>
                            <p style="font-size: 18px;">We strongly believe each person is destined to achieve great things in life regardless of their background.  Our goal is to open doors and foster that potential.</p>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="2s">
                        <!-- About item 02 -->
                        <div class="about-item text-center">
                            <i class="fa fa-eye"></i>
                            <h3>Vision</h3>
                            <hr>
                            <p style="font-size: 18px;">Through the power of mentorship, we work with High-Achieving, Low Income scholars who dare to dream big, study abroad on fully-funded university scholarships and make a positive impact on their communities and the world.</p>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4  wow fadeInRight">
                        <!-- About item 03 -->
                        <div class="about-item text-center">
                            <i class="fa fa-pencil"></i>
                            <h3>Passion</h3>
                            <hr>
                            <p style="font-size: 18px;">We equip our scholars with essential tools – computers, internet access, study guides, classroom and teachers – needed to maximize educational opportunities and thrive. We build life skills in writing, public speaking, computer programming and community service.</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- About 02 Ends -->

</section>
<!-- About Ends -->

<!-- Statement -->
<section id="statement">

    <div class="content-box-lg">

        <div class="container">

            <div class="row">

                <div class="col-md-12 wow fadeIn">

                    <div id="tech-statement" class="text-center">

                        <h3><i class="fa fa-quote-left"></i> We don't just dream, we do the work to realize them. <br> Our scholars work hard all summer to reach their dreams. <i class="fa fa-quote-right"></i> </h3>
                        <p>- Open Dreams Team -</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- Statement Ends -->

<!-- Portfolio Begins -->
<section id="portfolio">

    <div class="content-box-md">

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12 wow slideInLeft">

                    <div class="vertical-heading">
                        <h5></h5>
                        <h2><br> <strong>OUR STORY</strong></h2>
                    </div>

                </div>

                </div> 
<div class="cd-tabs container max-width-md max-width-sm max-width-xs max-width-xxs margin-top-xl margin-bottom-lg js-cd-tabs">
<nav class="cd-tabs__navigation max-width-md max-width-sm max-width-xs max-width-xxs">
  <ul class="cd-tabs__list">
    <li style="list-style: none;">
      <a href="#tab-inbox" class="cd-tabs__item cd-tabs__item--selected">
        <span class="portfolio-heading-size">Mission</span>
      </a>
    </li>

    <li style="list-style: none;">
      <a href="#tab-new" class="cd-tabs__item">
        <span class="portfolio-heading-size">Founders</span>
      </a>
    </li>

    <li style="list-style: none;">
      <a href="#tab-gallery" class="cd-tabs__item">
        <span class="portfolio-heading-size">History</span>
      </a>
    </li style="list-style: none;">

    <li style="list-style: none;">
      <a href="#tab-settings" class="cd-tabs__item">
        <span class="portfolio-heading-size">Partners</span>
      </a>
    </li>
  </ul> <!-- cd-tabs__list -->
</nav>

<ul class="cd-tabs__panels max-width-md max-width-sm max-width-xs max-width-xxs" style="width: 100%;">
  <li id="tab-inbox" class="cd-tabs__panel cd-tabs__panel--selected text-component" style="text-align: justify;">
    To empower high-achieving, low-income scholars around the world by bridging the global gap between talent and opportunity at the university education level.
   <br>
   <br>
     As a college-access organization, Open Dreams leverages a mentorship network, rigorous academic curriculum and partnership system to bring educational opportunities to highly talented scholars from lower-income backgrounds. We ardently believe in a world where talent is universal, but opportunity is not.  To reverse this inequality of opportunity and secure a better future for our scholars, we utilize connective technology bringing together mentors, teachers, admission officers and educators to our scholar community.  We envision a world wherein every child has an equal chance of access to university education no matter what geography, race, gender or socioeconomic background they entered the world.
  </li>

  <li id="tab-new" class="cd-tabs__panel text-component" >

            <div class="row">
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="/founders/1" title="Add Description">
                            <img src="img/portfolio/002.png" width="100%" class="img-responsive" alt="portfolio 02">

                            <div class="portfolio-item-overlay">
                                <div class="portfolio-item-details text-center">

                                    <!-- Item Header -->
                                    <h3>Hans Kulberg</h3>

                                    <!-- Item Strips -->
                                    <span></span>

                                    <!-- Item Description -->
                                    <p>Co-Founder</p>

                                </div>

                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">

                        <a href="/founders/2" title="Add Description">
                            <img src="img/portfolio/004.png" width="100%" class="img-responsive" alt="portfolio 04">

                            <div class="portfolio-item-overlay">
                                <div class="portfolio-item-details text-center">

                                    <!-- Item Header -->
                                    <h3>Christina Kulberg</h3>

                                    <!-- Item Strips -->
                                    <span></span>

                                    <!-- Item Description -->
                                    <p>Co-Founder</p>

                                </div>

                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">

                        <a href="/founders/3" title="Add Description">
                            <img src="img/portfolio/team-1.jpeg" width="300px" class="img-responsive" alt="portfolio 06">

                            <div class="portfolio-item-overlay">
                                <div class="portfolio-item-details text-center">

                                    <!-- Item Header -->
                                    <h3> Blaise Buma </h3>

                                    <!-- Item Strips -->
                                    <span></span>

                                    <!-- Item Description -->
                                    <p>Co-Founder</p>

                                </div>

                            </div>
                        </a>

                    </div>
                </div>
            </div>
     
  <li id="tab-gallery" class="cd-tabs__panel text-component" style="list-style: none; text-align: justify;">
    Open Dreams was started based upon the fulfillment of my own dream. I was born into extremely modest circumstances in Bamenda, Cameroon and was afforded the opportunity to study at Washington & Lee on a full scholarship at the age of 21.  I was the first member of my family to pursue a college education abroad, after making huge sacrifices and overcoming very difficult odds. My love for my native country and my unwavering commitment to one day better the region through economic and political advancement drove me to seek higher education in the developed world and today I am enabled and motivated to give back.  <br><br>

     When I graduated from high school,  I refused to be constrained by limited financial resources or geographical and cultural barriers to getting a decent education. I was lucky to have met Morgan, an American woman who had come to do some work in Cameroon. Morgan helped to pay for my college application process including paying for application fees, buying SAT and TOEFL prep. materials as well as paying for my flight to the US and buying my first laptop. I am always indebted to her for the time and resources she invested to help me realize my goal of studying in the US. <br><br>

    I am telling my story to inspire others who may want to give, reach out and help but do not know how. Thanks to the kindness of this young American girl, I was able to attend Washington and Lee University and I went to study abroad at the London School of Economics for one year where I discovered a passion for finance. Thereafter I interned at Deutsche Bank and returned to W&L for my senior year. I then was a Schwarzman Scholar studying in China, I currently work for a Venture Capital Firm in Mali,  and will continue my education at the Harvard Business School next year.  <br><br>

    I started Open Dreams to help others in a similar situation. I hope to someday return home and contribute to the political and economic development of my home country. Founding Open Dreams was the first step in this process.

  </li>

  <li id="tab-store" class="cd-tabs__panel text-component" style="list-style: none; text-align: justify;">
    
  </li> 

  <li id="tab-settings" class="cd-tabs__panel text-component" style="list-style: none; text-align: justify;">
  <div class="row">
      <div class="col-md-3">
        <div class="portfolio-item">
            <a href="https://mastercardfdn.org/all/scholars/" target="_blank" title="Add Description">
                <img src="img/portfolio/001.png" class="img-responsive" alt="portfolio 01">
            </a>

        </div>
      </div>
      <div class="col-md-3">
        <div class="portfolio-item">

            <a href="http://cscuk.dfid.gov.uk/apply/" target="_blank" title="Add Description">
                <img src="img/portfolio/007.png" class="img-responsive" alt="portfolio 07">
            </a>

        </div>
      </div>
      <div class="col-md-3">
        <div class="portfolio-item">

            <a href="https://www.duolingo.com/" target="_blank" title="Add Description">
                <img src="img/portfolio/008.png" class="img-responsive" alt="portfolio 08">
            </a>

        </div>
      </div>
      <div class="col-md-3">
        <div class="portfolio-item">

            <a href="http://haliaccess.org/" target="_blank" title="Add Description">
                <img src="img/portfolio/005.png" class="img-responsive" alt="portfolio 05">
            </a>

        </div>
      </div>
  </div>

                             
  </li>
</ul> <!-- cd-tabs__panels -->
</div> <!-- cd-tabs -->
</div>
</div>
</section>
<!-- Portfolio Ends -->

<!-- Stats -->
<section id="stats">

    <div class="content-box-md">

        <div class="container">

            <div class="row">

                <div class="col-md-12 wow slideInLeft">

                    <div class="vertical-heading">
                        <h5></h5>
                        <h2><br><strong>Stats</strong> </h2>
                    </div>

                </div>

            </div>

            <div class="row wow fadeInUp" data-wow-duration="2s">

                <div class="col-md-3 col-sm-3 col-xs-6">

                    <!-- Stats Item 01 -->
                    <div class="stats-item text-center">
                        <i class="fa fa-bar-chart"></i>
                        <h3 class="counter">5</h3>
                        <p>Years of Community Service</p>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">

                    <!-- Stats Item 02 -->
                    <div class="stats-item text-center">
                        <i class="fa fa-codepen"></i>
                        <h3 class="counter">50</h3>
                        <p>Plus Outreach Projects</p>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">

                    <!-- Stats Item 03 -->
                    <div class="stats-item text-center">
                        <i class="fa fa-trophy"></i>
                        <h3 class="counter">80</h3>
                        <p>Fully Funded Scholarships</p>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">

                    <!-- Stats Item 04 -->
                    <div class="stats-item text-center">
                        <i class="fa fa-users"></i>
                        <h3 class="counter">200</h3>
                        <p>Plus Students mentored</p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- Stats Ends -->

<!-- Clients -->
<section id="clients">

    <div class="content-box-sm"> 

        <div class="container">

            <div class="row">

                <div class="col-md-12 text-center">

                    <div class="horizontal-heading">
                        <h5></h5>
                        <h2>Recent scholars <strong>have studied at:</h2>
                    </div>

                </div>

            </div>

            <div class="row wow bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s"> 

                <!-- <div class="swiper-wrapper">  -->

                    <div id="clients_list" class="owl-carousel owl-theme"> 

                        <!-- Client 01 -->
                        <div class="client">
                            <img src="./img/patnering_schools/British columbia.png" width="100%" class="img-responsive" alt="client">
                        </div>
                        <!-- Client 02 -->
                        <div class="client">
                            <a href="https://www.ashesi.edu.gh/" target="_blank">
                                <img src="./img/patnering_schools/Ashesi.png" width="100%" class="img-responsive" alt="client">
                            </a>
                        </div>
                        <!-- Client 03 -->
                        <div class="client">
                            <img src="./img/patnering_schools/Cape Town.png" width="100%" class="img-responsive" alt="client">
                        </div>
                        <br>
                        <!-- Client 04 -->
                        <div class="client">
                            <img src="./img/patnering_schools/Edinburgh.png" width="100%" class="img-responsive" alt="client">
                        </div>
                        <!-- Client 05 -->
                        <div class="client">
                            <img src="./img/patnering_schools/Lafayette College.png" width="100%" class="img-responsive" alt="client">
                        </div>
                        <!-- Client 06 -->
                        <div class="client">
                            <img src="./img/patnering_schools/Mcgill .png" width="100%" class="img-responsive" alt="client">
                        </div>
                        <!-- Client 07 -->
                        <div class="client">
                            <img src="./img/patnering_schools/U of T.png" width="100%" class="img-responsive" alt="client">
                        </div>


                    </div>
                    <div id="clients_list2" class="owl-carousel owl-theme"> 

                      
                        <!-- Client 08 -->
                        <div class="client">
                            <img src="./img/patnering_schools/Wisconsin.png" width="100%" class="img-responsive" alt="partner">
                        </div>
                        <!-- Client 09 -->
                        <div class="client">
                            <img src="./img/patnering_schools/BMSTU.png" width="100%" class="img-responsive" alt="partner">
                        </div>
                        <!-- Client 10 -->
                        <div class="client">
                            <img src="./img/patnering_schools/Concordia.png" width="100%" class="img-responsive" alt="partner">
                        </div>
                        <!-- Client 11 -->
                        <div class="client">
                            <img src="./img/patnering_schools/Egerton.png" width="100%" class="img-responsive" alt="partner">
                        </div>
                        <!-- Client 12 -->
                        <div class="client">
                            <img src="./img/patnering_schools/KNUST.png" width="100%" class="img-responsive" alt="partner">
                        </div>
                        <!-- Client 13 -->
                        <div class="client">
                            <img src="./img/patnering_schools/reading.png" width="100%" class="img-responsive" alt="partner">
                        </div>

                    </div>

                <!-- </div> -->

            </div>

        </div>

    </div>

</section>
<!-- Clients Ends -->

<!--Blog Starts.. Redirect the Blog from the Nav bar to the new link provided-->
<!-- Blog Ends -->

<!-- Contact -->
<section id="contact">

    <div class="content-box-md">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <!-- Contact Left -->
                    <div id="contact-left">

                        <div class="vertical-heading">
                            <h5></h5>
                            <h2><br> <strong>Stay Connected</strong></h2>
                        </div>
                        <p style="font-size: 18px;" ></p>

                        <div id="offices">

                            <div class="row">

                                <div class="col-md-6">

                                    <div class="office">
                                        <h4>United States</h4>
                                        <ul class="office-details">
                                            <li><i class="fa fa-mobile"></i><span>+1 (704) 617-7535</span></li>
                                            <li><i class="fa fa-envelope"></i><span>Hans@open-dreams.org</span></li>
                                            <li><i class="fa fa-map-marker"></i><span>Oakland<br>Carlifornia , USA.</span></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="office">
                                        <h4>Cameroon</h4>
                                        <ul class="office-details">
                                            <li><i class="fa fa-mobile"></i><span>+1 (240) 898 5814</span></li>
                                            <li><i class="fa fa-envelope"></i><span>james@open-dreams.org</span></li>
                                            <li><i class="fa fa-map-marker"></i><span>Mile 2 Nkwen <br>Bamenda, CMR.</span></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <ul class="social-list">
                            <a href="https://www.facebook.com/opendreamsforall/"><i class="fa fa-facebook-square" style="font-size: 65px;"></i></a>
                            <a href="https://twitter.com/OpenDreamsOrg"><i class="fa fa-twitter-square" style="font-size: 65px; color: skyblue;"></i></a>
                            <a href="#"><i class="fa fa-google-plus-square" style="font-size: 65px; color: red;"></i></a>
                        </ul>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="errors"></div>
                    <!-- Contact Right -->
                    <%- include('./pages/form.ejs') %>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- Contact Ends -->

<%- include('./layouts/footer.ejs') %>