/* 
 navbar color #2C3E50
*/

body {
    background: #f8f8f8;
}

header {
      background: #6c757d;
  }
/* img{
  width: 100%;
  height: 300px;
} */
.home-img{
  width: 100%;
  height: 300px;
}
.square-img{
  width: 100%;
  height: 300px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
  .card-title:hover{
      text-decoration: none;
  }

  #back-to-top{
       position: fixed;
      right: 10%;
      bottom: 10%; 
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #007bff;
      color: #fff;
      text-align: center;
      z-index: 100;
  }

  /* Form CSS */
  #register, #login {
    width: 60%;
    margin: 60px auto;
    /* background: #f3f3f3; */
    background: #e0e9ee;
    padding: 60px 120px 80px 120px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  }
 label {
    display: block;
    position: relative;
    margin: 40px 0px;
  }
 .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
  }
  .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
  }
  
 .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #007bff;
    transition: ease .6s;
  }
  
.input:focus + .line-box .line {
    width: 100%;
  }
  
 .label-active {
    top: -3em;
  }
  
 .submit {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  }
  
  button:hover {
    background: #007bff;
    color: #ffffff;
  }
  .comment{
    margin: 10px;
  }
  .comment-text {
    background-color: #2c3e503a;
    border-radius: 10px;
    padding: 5px 7px;
    width: 100%;
    height: 50%;
    color: black;
  }
  .users{
    border-radius: 5px;
    height: 80px;
    background-color: #2c3e503a;
    margin: 10px;
    width: 80%;
  }
