<%- include('../layout/header.ejs') %> 
<br><br><br>
<div class="alert alert-success">
    <h1 class="alert alert-success">Meme uploaded successfully</h1>
</div>
   
  <div class="container mb-3">
    <a href="/upload" class="btn btn-warning">Upload another meme</a>
    <a href="/">All memes</a>
  </div>
<%- include('../layout/footer.ejs') %> 