<div class="row mb-3">
    <div class="col-12">
      <div class="errors"></div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="email" name="email" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Message</span>
        </div>
        <textarea class="form-control" name="message" aria-label="With textarea"></textarea>
      </div>
      <div class="text-right">
        <button type="submit" class="contact-btn btn btn-primary text-right my-2" name="button">comment</button>
      </div>

      <div class="success"></div>
    </div>
    
</div>