<%- include('../layouts/header.ejs') %>
  <!-- Home -->
  <section id="home">

    <!-- Background Video -->
    <video id="home-bg-video" poster="video/solo.mp4" autoplay loop muted>
        <source src="video/solo.mp4" type="video/mp4">
        <source src="video/solo.ogv" type="video/ogg">
        <source src="video/solo.webm" type="video/webm">
    </video>

    <!-- Overlay -->
    <div id="home-overlay"></div>

    <!-- Home Content -->
    <div id="home-content">

        <div id="home-content-inner" class="text-center">

            <div id="home-heading">
                <h1 id="home-heading-1">Open Dreams</h1>
                <div class="span" style="margin-top: -20px;">
                    <span class="span-hr-left">
                      <hr/>
                      <hr/>
                    </span>
                    <h1 id="home-heading-2"> <span>Scholars</span></h1>
                    <span class="span-hr-right">
                      <hr/>
                      <hr/>
                    </span>
                  </div>
                <!-- <h1 id="home-heading-2"> <span>Organization</span></h1> -->
                <div id="home-text" >
                <p><br><br>We Started Open Dreams to help empower future leaders of Cameroon and Africa ~ Blaise Buma</p>
            </div>

            <div class="container">
                <div class="row wow fadeInUp display" data-wow-duration="2s">

                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 01 -->
                        <div class="stats-item text-center">
                            <i class="fa fa-bar-chart"></i>
                            <h3 class="counter">5</h3>
                            <p>Years Experience</p>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 02 -->
                        <div class="stats-item text-center">
                            <i class="fa fa-codepen"></i>
                            <h3 class="counter">50</h3>
                            <p>Outreach Projects</p>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 03 -->
                        <div class="stats-item text-center">
                            <i class="fa fa-trophy"></i>
                            <h3 class="counter">80</h3>
                            <p>Fully Funded Scholarships</p>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 04 -->
                        <div class="stats-item text-center">
                            <i class="fa fa-users"></i>
                            <h3 class="counter">200</h3>
                            <p>Students mentored</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

             <!-- How to become a scholar -->
<section id="pricing">

    <div class="content-box-md">

        <div class="container">

            <div class="row">

                <div class="col-md-12 text-center wow slideInDown">
                    <div class="horizontal-heading">

                        <h5>How to Become a Scholar</h5>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4 col-sm-4 wow fadeInLeft">

                    <!-- How Table 01 -->
                    <div class="pricing-table">
                        <div class="type">
                            <h4>Getting a fullride scholarship</h4>
                        </div>

                        <div class="price">

                            <div class="row">

                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <h2></span>20<br><span class="month">Students</span></h2>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <p style="font-size: 18px;"> Yearly get multiple fully funded Scholarships</p>
                                </div>

                            </div>

                        </div>
                        <ul class="package">
                            <li><i class="fa fa-check"></i>Full Access to Open Dreams Resources</li>
                            <li><i class="fa fa-check"></i>World Wide Scholar Network</li>
                            <li><i class="fa fa-check"></i>Scholar Testimonials</li>
                        </ul>



                    </div>

                </div>
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="3s">

                    <!-- How Table 02 -->
                    <div class="pricing-table yellow">
                        <div class="type">
                            <h4>Outstanding performance in the Summer Academy</h4>
                        </div>

                        <div class="price">

                            <div class="row">

                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <h2></span>40<br><span class="month">Students</span></h2>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <p style="font-size: 18px;">Graduate from the Summer Academy annually</p>
                                </div>

                            </div>

                        </div>
                        <ul class="package">
                            <li><i class="fa fa-check"></i>Free SAT Registration</li>
                            <li><i class="fa fa-check"></i>Scholarship Nominations</li>
                            <li><i class="fa fa-check"></i>Counselor reccomendation Letters</li>
                        </ul>



                    </div>

                </div>
                <div class="col-md-4 col-sm-4 wow fadeInRight">

                    <!-- How Table 03 -->
                    <div class="pricing-table">
                        <div class="type">
                            <h4>Graduate and Post Graduate involvement</h4>
                        </div>

                        <div class="price">

                            <div class="row">

                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <h2></span>200<br><span class="month">Graduates</span></h2>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <p style="font-size: 18px;">Get professional schoalarship counseling from our mentors </p>
                                </div>

                            </div>

                        </div>
                        <ul class="package">
                            <li><i class="fa fa-check"></i>GRE Registration</li>
                            <li><i class="fa fa-check"></i>Graduate COunseling</li>
                            <li><i class="fa fa-check"></i>recommendation letters</li>
                        </ul>



                    </div>

                </div>

            </div>

        </div>

    </div>

</section><br><br>
<!-- How to become a schoalr ends -->
<!-- Scholar Pictures Begin -->
<section id="team" class="scholars-team pt-5">
    <div class="horizontal-heading text-center">
        <h2 class="text-center">Our Scholars</h2>
        </div>
    <div class="container-fluid">
        <div class="row text-center">
             <!-- Scholar 01 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup')">
                    <div class="team-member">
                        <img src="/images/scholar/01.png" class="img-responsive" alt="scholar1 01">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Che John</h6>
                                <p>University of Wisconsin</p>
                            </div>
                        </div>
                    </div>
                    <!-- <span class="popuptext" id="myPopup">Che John is a student at the University of Wisconsin Madison on the King-Morgridge Scholarship whose mission is to alleviate poverty in developing countries. He currently studies Electrical and Electronics Engineering and wishes to use the skills he acquires to help improve the electricity problem in Africa specifically in Cameroon. He was a former student of GBHS Mutengene and GBHS Mambanda Douala.</span> -->
                </div>
            </div>
            <!-- Scholar 02 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup1')">
                    <div class="team-member">
                        <img src="/images/scholar/02.png" class="img-responsive" alt="scholar1 02">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Open Dreams</h6>
                                <p>America University</p>
                            </div>
                        </div>
                    </div>
                <!-- <span class="popuptext" id="myPopup1"> I will be furthering my education at America University under a fully-funded scholarship with a minor in finance. I have been a mentor at Open Dreams and truly, I never stop learning from the scholars at Open Dreams. They are big dreamers with great ambition. My experience with Open Dream has taught me that education is the most powerful weapon which you can use to change the world; with this, I am thrilled to be an OD alumnus.</span> -->
                </div>
            </div>

                    <!-- Scholar 03 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup17')">
                    <div class="team-member">
                        <img src="/images/scholar/03.png" class="img-responsive" alt="scholar1 03">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Open Dreams</h6>
                                <p>America University</p>
                            </div>
                        </div>
                    </div>
                <!-- <span class="popuptext" id="myPopup17"> I will be furthering my education at America University under a fully-funded scholarship with a minor in finance. I have been a mentor at Open Dreams and truly, I never stop learning from the scholars at Open Dreams. They are big dreamers with great ambition. My experience with Open Dream has taught me that education is the most powerful weapon which you can use to change the world; with this, I am thrilled to be an OD alumnus.</span> -->
                </div>
            </div>

                    <!-- Scholar 04 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup2')">
                    <div class="team-member">
                    <img src="/images/scholar/04.png" class="img-responsive" alt="scholar1 04">
                    <div class="team-member-overlay">
                        <div class="team-member-info text-center">
                            <h6>Elvis Tanwie</h6>
                            <p>University of Edinburgh</p>
                        </div>
                    </div>
                </div>
                    <!-- <span class="popuptext" id="myPopup2">Elvis Tanwie is a Chemical Engineering student at the University of Edinburgh on the prestigious MasterCard Foundation Scholars Program. He works closely with Open Dreams, an educational organization in Cameroon, in assisting high achieving low-income Cameroonians gain access to quality education and was the Project Coordinator for the Open Dreams Summer Academy 2019, Yaoundé. Elvis has a keen interest in global affairs, financial systems and governance. -->
                    </span>
                </div>
            </div>

                    <!-- Scholar 05 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup3')">
                    <div class="team-member">
                        <img src="/images/scholar/05.png" class="img-responsive" alt="scholar1 05">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Open Dreams</h6>
                                <p>America University</p>
                            </div>
                        </div>
                    </div>
                <!-- <span class="popuptext" id="myPopup3"> I will be furthering my education at America University under a fully-funded scholarship with a minor in finance. I have been a mentor at Open Dreams and truly, I never stop learning from the scholars at Open Dreams. They are big dreamers with great ambition. My experience with Open Dream has taught me that education is the most powerful weapon which you can use to change the world; with this, I am thrilled to be an OD alumnus.</span> -->
                </div>
            </div>

                        <!-- Scholar 06 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup4')">
                    <div class="team-member">
                    <img src="/images/scholar/06.png" class="img-responsive" alt="scholar1 06">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Miki</h6>
                                <p>University of Sheffield</p>
                            </div>
                        </div>
                    </div>
                    <!-- <span class="popuptext" id="myPopup4">Miki Founder and CEO of the Vocational Centre for International Development (VCID). He was one of the international delegates to the 2017 First UN World Data Forum and is a consultative member with UN-Habitat on Global Land Tool Indicator (GLII) initiative since 2014.
                    Miki holds a B.Ed in Geography (University of Buea), Certificate in Project Planning and Management (Pan African Institute for Development – West Africa (PAID-WA), Buea), Postgraduate Diploma in Development Management and Governance (PAID-WA, Buea), and M.A in International Development (University of Sheffield, UK). Miki is currently a PhD Student (International and Rural Development) at the University of Reading, UK. His areas of research include: Politics of food security, livelihood dynamics, Political Economy of inequality and geographies of poverty. Miki is a 2012 Chevening Scholar, Open Dreams Pioneer Graduate Scholar and 2019 Commonwealth Scholar. He is currently co-leading the International Development PhD Seminar Network at the School of Agriculture, Policy and Development and is a passionate Social Policy Analyst.
                    </span> -->
                </div>
            </div>

                    <!-- Scholar 07 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup5')">
                    <div class="team-member">
                        <img src="/images/scholar/07.png" class="img-responsive" alt="scholar1 07">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Mikah E. Nuilondea</h6>
                                <p>University of Edinburgh</p>
                            </div>
                        </div>
                    </div>
                    <!-- <span class="popuptext" id="myPopup5">Mikah E. Nuilondea is a Commonwealth Scholar studying Advanced Mechanical Engineering at
                    Heriot-Watt University Edinburgh. He joined Open Dreams in 2018 after half a decade working as a
                    university student leader helping English-speaking students in Cameroon to overcome barriers and
                    access quality higher educational opportunities through Model Initiative of Africa, an organization
                    be co-founded.
                    I believe that opportunities to education will play a critical role towards Africa’s socio-economic
                    development and a reduction of economic inequalities existing in Africa and is committed to
                    contributing through Open Dreams and Model Initiative of Africa – MIA.
                    As a pioneer Open Dreams graduate scholar, he initiated and currently coordinates the graduate
                    department of Open Dreams which focuses on supporting postgraduate students access further
                    study opportunities, conferences and to foster international cooperation with their peers.
                    </span> -->
                </div>
            </div>

                    <!-- Scholar 08 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup6')">
                    <div class="team-member">
                        <img src="/images/scholar/08.png" class="img-responsive" alt="scholar1 08">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Open Dreams</h6>
                                <p>Ashesi University</p>
                            </div>
                        </div>
                    </div>
                        <!-- <span class="popuptext" id="myPopup6">Within just four months into my freshman year, I always fell into a dilemma on thinking of my best experience so far as an Electrical and Electronics Engineering student at Ashesi University. Is it the ecstasy I get from flying my self-built drone, or the intriguing tête-à-tête conversations I have with my lecturers, or the Design Thinking course which unravels my knotted mind on a weekly basis? These thoughts always kept me in a buoyant mood when they linger across my mind.
                        However, this wasn't the excitement in me before coming to my new home away from home. Admissions into Ashesi has always been a strait gate. But thanks to the guidance and indelible support of Open Dreams, I was able to get admitted as a scholar at this top-notch university to study what I always dreamt of. With Open Dreams, dreams come true in High Definition.
                        </span> -->
                    </div>
            </div>

                    <!-- Scholar 09 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup7')">
                    <div class="team-member">
                    <img src="/images/scholar/09.png" class="img-responsive" alt="scholar1 09">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Wilson Nkwanui</h6>
                                <p>University of Cape town</p>
                            </div>
                        </div>
                    </div>
                <!-- <span class="popuptext" id="myPopup7">Wilson Nkwanui is an undergraduate law student at the university of Cape town who is interested in comparative legal scholarship both as a tool for reform and advocacy. He is a believer in the power of genuine intellectual curiosity and forward-thinking.</span> -->
                </div>
            </div>

                    <!-- Scholar 10 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup8')">
                    <div class="team-member">
                        <img src="/images/scholar/10.png" class="img-responsive" alt="scholar1 10">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Wilson Nkwanui</h6>
                                <p>University of Cape town</p>
                            </div>
                        </div>
                    </div>
                <!-- <span class="popuptext" id="myPopup8">Wilson Nkwanui is an undergraduate law student at the university of Cape town who is interested in comparative legal scholarship both as a tool for reform and advocacy. He is a believer in the power of genuine intellectual curiosity and forward-thinking.</span> -->
                </div>
            </div>

                    <!-- Scholar 11 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup9')">
                    <div class="team-member">
                    <img src="/images/scholar/11.png" class="img-responsive" alt="scholar1 11">
                    <div class="team-member-overlay">
                        <div class="team-member-info text-center">
                            <h6>Arthur</h6>
                            <p>University of Cape town</p>
                        </div>
                    </div>
                </div>
                <!-- <span class="popuptext" id="myPopup9">Arthur is a ride Mastercard foundation scholar at the university of Cape Town, South Africa where he aspires to graduate with a bachelor’s in mechanical and mechatronics engineering. His view of engineering can be reduced to some few words” A way to ease living’’. Growing up in the west and the North west part of Cameroon, He got to experience the core of anglophone crisis which significantly affected his academic year. Despite the crisis, He managed to graduate from the Open Dreams summer academy in the year 2017 and got a scholarship the year after.</span> -->
            </div>
            </div>

                    <!-- Scholar 12 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup10')">
                    <div class="team-member">
                        <img src="/images/scholar/12.png" class="img-responsive" alt="scholar1 12">
                    <div class="team-member-overlay">
                        <div class="team-member-info text-center">
                            <h6>Arthur</h6>
                            <p>University of Cape town</p>
                        </div>
                    </div>
                </div>
                <!-- <span class="popuptext" id="myPopup10">Arthur is a ride Mastercard foundation scholar at the university of Cape Town, South Africa where he aspires to graduate with a bachelor’s in mechanical and mechatronics engineering. His view of engineering can be reduced to some few words” A way to ease living’’. Growing up in the west and the North west part of Cameroon, He got to experience the core of anglophone crisis which significantly affected his academic year. Despite the crisis, He managed to graduate from the Open Dreams summer academy in the year 2017 and got a scholarship the year after.</span> -->
            </div>
            </div>

                    <!-- Scholar 13 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup11')">
                    <div class="team-member">
                        <img src="/images/scholar/13.png" class="img-responsive" alt="scholar1 13">
                    <div class="team-member-overlay">
                        <div class="team-member-info text-center">
                            <h6>Arthur</h6>
                            <p>University of Cape town</p>
                        </div>
                    </div>
                </div>
                <!-- <span class="popuptext" id="myPopup11">Arthur is a ride Mastercard foundation scholar at the university of Cape Town, South Africa where he aspires to graduate with a bachelor’s in mechanical and mechatronics engineering. His view of engineering can be reduced to some few words” A way to ease living’’. Growing up in the west and the North west part of Cameroon, He got to experience the core of anglophone crisis which significantly affected his academic year. Despite the crisis, He managed to graduate from the Open Dreams summer academy in the year 2017 and got a scholarship the year after.</span> -->
            </div>
            </div>

                    <!-- Scholar 14 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup12')">
                    <div class="team-member">
                        <img src="/images/scholar/14.png" class="img-responsive" alt="scholar1 14">
                    <div class="team-member-overlay">
                        <div class="team-member-info text-center">
                            <h6>Arthur</h6>
                            <p>University of Cape town</p>
                        </div>
                    </div>
                </div>
                <!-- <span class="popuptext" id="myPopup12">Arthur is a ride Mastercard foundation scholar at the university of Cape Town, South Africa where he aspires to graduate with a bachelor’s in mechanical and mechatronics engineering. His view of engineering can be reduced to some few words” A way to ease living’’. Growing up in the west and the North west part of Cameroon, He got to experience the core of anglophone crisis which significantly affected his academic year. Despite the crisis, He managed to graduate from the Open Dreams summer academy in the year 2017 and got a scholarship the year after.</span> -->
            </div>
            </div>

                    <!-- Scholar 15 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup13')">
                    <div class="team-member">
                        <img src="/images/scholar/15.png" class="img-responsive" alt="scholar1 15">
                    <div class="team-member-overlay">
                        <div class="team-member-info text-center">
                            <h6>Arthur</h6>
                            <p>University of Cape town</p>
                        </div>
                    </div>
                </div>
                <!-- <span class="popuptext" id="myPopup13">Arthur is a ride Mastercard foundation scholar at the university of Cape Town, South Africa where he aspires to graduate with a bachelor’s in mechanical and mechatronics engineering. His view of engineering can be reduced to some few words” A way to ease living’’. Growing up in the west and the North west part of Cameroon, He got to experience the core of anglophone crisis which significantly affected his academic year. Despite the crisis, He managed to graduate from the Open Dreams summer academy in the year 2017 and got a scholarship the year after.</span> -->
            </div>
            </div>

                    <!-- Scholar 16 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup14')">
                    <div class="team-member">
                    <img src="/images/scholar/16.jpg" class="img-responsive" alt="scholar1 09">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Theodore kanjo</h6>
                                <p>University of Botswana</p>
                            </div>
                        </div>
                    </div>
                <!-- <span class="popuptext" id="myPopup14">Wilson Nkwanui is an undergraduate law student at the university of Cape town who is interested in comparative legal scholarship both as a tool for reform and advocacy. He is a believer in the power of genuine intellectual curiosity and forward-thinking.</span> -->
                </div>
            </div>

                    <!-- Scholar 17 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup15')">
                    <div class="team-member">
                    <img src="/images/scholar/17.jpeg" class="img-responsive" alt="scholar1 09">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Nchofon Taga</h6>
                                <p>University of Douala</p>
                            </div>
                        </div>
                    </div>
                <!-- <span class="popuptext" id="myPopup15">Wilson Nkwanui is an undergraduate law student at the university of Cape town who is interested in comparative legal scholarship both as a tool for reform and advocacy. He is a believer in the power of genuine intellectual curiosity and forward-thinking.</span> -->
                </div>
            </div>

                    <!-- Scholar 18 -->
            <div class="col-md-2 col-sm-3 pl-0 ml-0">
                <div class="popup" onclick="myPop('myPopup16')">
                    <div class="team-member">
                    <img src="/images/scholar/18.jpeg" class="img-responsive" alt="scholar1 09">
                        <div class="team-member-overlay">
                            <div class="team-member-info text-center">
                                <h6>Bila Lewis</h6>
                                <p>University of Mephi</p>
                            </div>
                        </div>
                    </div>
                <!-- <span class="popuptext" id="myPopup16">Wilson Nkwanui is an undergraduate law student at the university of Cape town who is interested in comparative legal scholarship both as a tool for reform and advocacy. He is a believer in the power of genuine intellectual curiosity and forward-thinking.</span> -->
                </div>
            </div>

        </div>
         <div class="row text-center">
                <div class="col-md-12 text-center">

                    <div class="text-center">
                         <h5 class="text-center" style="color: black !important;font-size: 22px;font-weight: bold; margin-top: 50px;">
                            <a target="_blank" style="color: black !important;" href="https://docs.google.com/forms/d/e/1FAIpQLSemsPdreOF_y5gMHs9Ld1geRPPQW4PXRP8sHIZ8sOkqhO_V8Q/viewform">BECOME A MENTOR</a>
                         </h5>
			 <a style="cursor: pointer;" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSemsPdreOF_y5gMHs9Ld1geRPPQW4PXRP8sHIZ8sOkqhO_V8Q/viewform">link</a>
                    </div>
                </a>
                </div>
            </div>
    </div>
</section>
<!-- Scholar Picture End -->

 <!-- Testimonials -->
<section id="testimonials">

    <div class="container">

        <div class="row">

            <div class="col-md-4 col-sm-4 wow slideInLeft">

                <div class="vertical-heading-scholars">
                    <!-- <h5>Who We Are</h5> -->
                    <h2><br><strong>Scholar Testimonials</strong></h2>
                </div>

            </div>

            <div class="col-md-8 col-sm-8 wow fadeIn" data-wow-duration="2s">

                <div id="testimonial-slider" class="owl-carousel owl-theme">

                    <!-- Testimonial 01 -->
                    <div class="testimonial">

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h3>Quality Support</h3>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <!-- <div class="stars text-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div> -->
                            </div>
                        </div>

                        <p style="font-size: 18px;">Open Dreams had a huge part to play in this little dream of mine as she gave me a narative into how my life was going to span out and revamp my whole thinking, teaching me I am</p>

                        <div class="author">

                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-6">
                                    <img src="img/testimonial/client-1.jpeg" alt="client" class="img-responsive img-circle">
                                </div>
                                <div class="col-md-8 col-sm-3 col-xs-6">
                                    <div class="author-name-des">
                                        <p>Theodore Kanjo</p>
                                        <p>University of Botswana</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- Testimonial 02 -->
                    <div class="testimonial">

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h3>Quality Support</h3>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <!-- <div class="stars text-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div> -->
                            </div>
                        </div>

                        <p style="font-size: 18px;">Every low-income teen and his dream have always been as far as T from D. When People, resources and opportunities intersect, there are only 2 words to describe the phenomenon; Open Drams</p>

                        <div class="author">

                            <div class="row">
                                <div class="col-md-4 col-sm-3 col-xs-6">
                                    <img src="img/testimonial/client-2.jpeg" alt="client" class="img-responsive img-circle">
                                </div>
                                <div class="col-md-8 col-sm-3 col-xs-6">
                                    <div class="author-name-des">
                                        <p>John Jende</p>
                                        <p>African Leadership Academy</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>



                </div>

            </div>

        </div>

    </div>

</section>
<!-- Testimonials Ends -->

<!-- Popup JS -->
<script src="/js/popup.js"></script>
<%- include('../layouts/footer.ejs') %>
