<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Title -->
    <title>Open Dreams Organization</title>

    <!-- Basic SEO -->
    <meta name="description" content="Creative website development with html5, css3, jQuery & bootstrap framework">
    <meta name="keywords"
        content="HTML5, CSS3, JQuery, Bootstrap, Web Design, Web Development, Responsive website, Creative website">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/logo.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl-carousel/owl.theme.default.min.css">

    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="/css/responsive-tabs/responsive-tabs.min.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup/magnific-popup.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate/animate.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- slide CSS -->
    <link rel="stylesheet" href="/css/slides.css">

    <!-- portfolio Slider -->
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/portfolio.css">

    <!-- Pop Up Css -->
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/summer.css">

    <script>document.getElementsByTagName("html")[0].className += " js";</script>

    <!-- Demo styles -->
    <style>
        html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper-container {
            width: 100%;
            height: 50%;
        }

        .swiper-slide {
            text-align: justify;
            font-size: 18px;
            background: #fff;
            padding: 0px;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            text-align: justify;
        }
    </style>
    <style type="text/css">
        /* Popup container */
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        /* The actual popup (appears on top) */
        .popup .popuptext {
            visibility: hidden;
            width: 400px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            margin-left: -80px;
        }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 5%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Toggle this class when clicking on the popup container (hide and show the popup) */
        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s
        }

        /* Add animation (fade in the popup) */
        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="65">

    <!-- Preloader -->
    <!-- <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>  -->

    <!-- Header -->
    <nav id="navbar" class="navbar navbar-expand-lg">
        <a class="navbar-brand px-2 py-0 " href="/">
            <img src="images/odLogo.png" width="150" alt="logo">
        </a>
        <button class="navbar-toggler" type="button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link m-2 text-capitalize" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 text-capitalize" href="/summer">Summer Academy</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link m-2 text-capitalize" href="/scholars">Scholars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 text-capitalize" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 text-capitalize" href="/about">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 text-capitalize" href="/articles">Blog</a>
                </li>
                <!-- <li class="nav-item">
            <a class="nav-link m-2 text-capitalize" href="https://www.open-dreams.org/blank">Blogs</a>
          </li> -->
                <li class="nav-item">
                    <a class="nav-link m-2 text-capitalize btn btn-warning" target="_blank"
                        href="https://www.globalgiving.org/projects/open-dreams-for-cameroon/">
                        Donate
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Header Ends -->

    <!-- Home -->
    <section id="home">

        <!-- Background Video -->
        <video id="home-bg-video" poster="video/solo.mp4" autoplay loop muted>
            <source src="video/solo.mp4" type="video/mp4">
            <source src="video/solo.ogv" type="video/ogg">
            <source src="video/solo.webm" type="video/webm">
        </video>

        <!-- Overlay -->
        <div id="home-overlay"></div>

        <!-- Home Content -->
        <div id="home-content">

            <div id="home-content-inner" class="text-center">

                <div id="home-heading">
                    <h1 id="home-heading-1">Open Dreams</h1>
                    <div class="span" style="margin-top: -20px;">
                        <span class="span-hr-left">
                            <hr />
                            <hr />
                        </span>
                        <h1 id="home-heading-2"> <span>Services</span></h1>
                        <span class="span-hr-right">
                            <hr />
                            <hr />
                        </span>
                    </div>
                    <!-- <h1 id="home-heading-2"> <span>Organization</span></h1> -->
                    <div id="home-text">
                        <p><br><br>We Started Open Dreams to help empower future leaders of Cameroon and Africa ~ Blaise
                            Buma</p>
                    </div>

                    <div class="container">
                        <div class="row wow fadeInUp display" data-wow-duration="2s">

                            <div class="col-md-3 col-sm-3 col-xs-6">

                                <!-- Stats Item 01 -->
                                <div class="stats-item text-center">
                                    <i class="fa fa-bar-chart"></i>
                                    <h3 class="counter">5</h3>
                                    <p>Years of Community Service</p>
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">

                                <!-- Stats Item 02 -->
                                <div class="stats-item text-center">
                                    <i class="fa fa-codepen"></i>
                                    <h3 class="counter">50</h3>
                                    <p>Plus Outreach Projects</p>
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">

                                <!-- Stats Item 03 -->
                                <div class="stats-item text-center">
                                    <i class="fa fa-trophy"></i>
                                    <h3 class="counter">80</h3>
                                    <p>Fully Funded Scholarships</p>
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">

                                <!-- Stats Item 04 -->
                                <div class="stats-item text-center">
                                    <i class="fa fa-users"></i>
                                    <h3 class="counter">200</h3>
                                    <p>Plus Students mentored</p>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

    </section>
    <!-- Services -->
    <section id="services">

        <!-- Services 01 -->
        <div id="services-01">
            <div class="content-box-lg">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12 text-center wow slideInDown">

                            <div class="horizontal-heading">
                                <h5></h5>
                                <h2>Our Services</h2>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-7 col-sm-7 wow slideInLeft">
                            <img src="img/services/service-home.jpeg" id="service-img" alt="laptop" width="100%"
                                class="img-responsive">
                        </div>
                        <div class="col-md-5 col-sm-5 wow slideInRight">

                            <!-- Service 01 -->
                            <div class="service">
                                <div class="row">

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fa fa-paint-brush"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5 style="color: gold;">Service 01</h5>
                                        <h4>Scholarship/College Admission Counseling</h4>
                                        <p>
                                            Open Dreams assists and provides its talented scholars with resources to
                                            gain Admission
                                            into their dream universities all over the globe.
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <!-- Service 02 -->
                            <div class="service">
                                <div class="row">

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fa fa-laptop"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5 style="color: gold;">Service 02</h5>
                                        <h4>SAT Prep</h4>
                                        <p>
                                            Effectively prepare our scholars for stellar performances on the SAT which
                                            will help them acquire
                                            prestigious scholarships to colleges around the world.
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <!-- Service 03 -->
                            <div class="service">
                                <div class="row">

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fa fa-paper-plane-o"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                        <h5 style="color: gold;">Service 03</h5>
                                        <h4>TOEFL/IELTS/DUOLINGO Prep</h4>
                                        <p>
                                            Effectively prepare our scholars for stellar performances on English
                                            profiency tests
                                            which will help them acquire prestigious scholarships to colleges around the
                                            world
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- Services 01 Ends -->
        <div id="progress-elements">


        </div>
        <!-- Services 02 -->
        <div id="services-02">

            <div class="content-box-md">

                <div id="services-tabs">

                    <ul class="text-center">
                        <!--<li><a href="#service-tab-1">Creativity</a></li>-->
                        <li><a href="#service-tab-2">Strategy</a></li>
                        <li><a href="#service-tab-3">Give Back</a></li>
                        <li><a href="#service-tab-4">Development & Progress</a></li>
                    </ul>

                    <!-- Service Tab 01 -->
                    <!--<div id="service-tab-1" class="service-tab">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <video width="500"autoplay loop muted>
                                    <source src="video/yoo.mp4" type="video/mp4" >
                                    </video>
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-bg">
                                        <h2>01</h2>
                                        <h3>Creativity.</h3>
                                        <p>Open Dreams Scholars and Pre-Scholars indulge in various forms of creative and productive activities to strike a balance between curricular and extra curricular activities.</p>

                                        <div id="services-02-btn-02">
                                            <a class="btn btn-general btn-yellow" href="#services" title="Get In Touch" role="button">Bamenda</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->



                    <!-- Service Tab 02 -->
                    <div id="service-tab-2" class="service-tab">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="img/services/service-tab-img-02.jpg" alt="strategy">
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-bg">
                                        <h2>02</h2>
                                        <h3>The Home of Strategy.</h3>
                                        <p>
                                            We work strategically in identifying areasss of weaknesses in the students
                                            towards
                                            their college applications and standardized test. Once we notice these
                                            weaknesses, we
                                            help students navigate through them.
                                        </p>

                                        <div id="services-02-btn-02">
                                            <a class="btn btn-general btn-yellow" href="https://www.ed.ac.uk/" title="Get In Touch"
                                                role="button">Edinburgh</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Service Tab 03 -->
                    <div id="service-tab-3" class="service-tab">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="img/services/service-tab-img-03.jpg" alt="design">
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-bg">
                                        <h2>03</h2>
                                        <h3>Give back to the grassroots.</h3>
                                        <p>Year in Year out our scholars both at home and abroad give back to their
                                            communities and in other communities across the country.</p>

                                        <div id="services-02-btn-03">
                                            <a class="btn btn-general btn-yellow" href="#services" title="Get In Touch"
                                                role="button">Accra</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Service Tab 04 -->
                    <div id="service-tab-4" class="service-tab">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="img/services/service-tab-img-04.jpg" alt="development">
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-bg">
                                        <h2>04</h2>
                                        <h3>From Our Development To Yours.</h3>
                                        <p>We regularly ammend our recruitment process and summer academies to give
                                            prospective scholars a better experience. Ultimately, our scholars improve
                                            their cognitive reasoning and emotional intelligience</p>

                                        <div id="services-02-btn-04">
                                            <a class="btn btn-general btn-yellow" href="#services" title="Get In Touch"
                                                role="button">Yaounde</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>
        <!-- Services 02 Ends -->

        <!-- Team -->
        <section>

            <div class="content-box-lg">

                <div class="container">

                    <!-- Team Members -->
                    <div class="row">

                        <!-- Team Left Side -->
                        <div class="col-md-6 col-sm-6 wow slideInLeft" data-wow-duration="1s">

                            <div id="team-left">

                                <div class="vertical-heading">
                                    <h5></h5>
                                    <h2><br><strong>Meet the Team</strong></h2>
                                </div>
                                <p style="font-size: 18px;"></p>

                            </div>

                        </div>

                        <!-- Team Right Side -->
                        <div class="col-md-6 col-sm-6 wow slideInRight" data-wow-duration="1s">

                            <div id="team-members" class="owl-carousel owl-theme">

                                <!-- Member 01 -->
                                <div class="team-member">
                                    <img src="img/team/team-1.jpeg" alt="team member" class="img-responsive">
                                    <div class="team-member-overlay">
                                        <div class="team-member-info text-center">
                                            <h6>Blaise Buma</h6>
                                            <p>Co-founder</p>
                                            <ul class="social-list">
                                                <li><a href="https://www.facebook.com/blaisebuma"><i
                                                            class="fa fa-facebook"></i></a></li>
                                                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                                                <li><a style="background-color: rgb(241, 18, 92);"
                                                        href="https://instagram.com/bumablaise?igshid=1q0w4l0c5yn2t"><i
                                                            class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <!-- Member 02 -->
                                <div class="team-member">
                                    <img src="img/team/team-2.jpg" alt="team member" class="img-responsive">
                                    <div class="team-member-overlay">
                                        <div class="team-member-info text-center">
                                            <h6>Hans Kulberg</h6>
                                            <p>Co-founder</p>
                                            <ul class="social-list">
                                                <li><a href="https://www.facebook.com/kullberg.hans"><i
                                                            class="fa fa-facebook"></i></a></li>
                                                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                                                <li><a style="background-color: rgb(241, 18, 92);"
                                                        href="https://instagram.com/hakullbe?igshid=19ci2qp5s9ncv"><i
                                                            class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <!-- Member 03 -->
                                <div class="team-member">
                                    <img src="img/team/team-3.jpeg" alt="team member" class="img-responsive">
                                    <div class="team-member-overlay">
                                        <div class="team-member-info text-center">
                                            <h6>Christina Kulberg</h6>
                                            <p>Co-founder</p>
                                            <ul class="social-list">
                                                <li><a href="https://www.facebook.com/cristinita.bernardo"><i
                                                            class="fa fa-facebook"></i></a></li>
                                                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                                                <li><a style="background-color: rgb(241, 18, 92);"
                                                        href="https://instagram.com/cristinakullnardo?igshid=1t611bf0vejbw"><i
                                                            class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <!-- Member 04 -->
                                <div class="team-member">
                                    <img src="img/team/team-4.jpeg" alt="team member" class="img-responsive">
                                    <div class="team-member-overlay">
                                        <div class="team-member-info text-center">
                                            <h6>Akaba James</h6>
                                            <p>National Director</p>
                                            <ul class="social-list">
                                                <li><a href="https://www.facebook.com/james.akaba.5"><i
                                                            class="fa fa-facebook"></i></a></li>
                                                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                                                <li><a style="background-color: rgb(241, 18, 92);"
                                                        href="https://instagram.com/ajitum?igshid=uzmr6vmsbhvj"><i
                                                            class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <!-- Member 05 -->

                                <!-- Member 06 -->


                            </div>

                        </div>

                    </div>



                </div>



            </div>

        </section>
        <!-- Team Ends -->



    </section>
    <!-- Services Ends -->
    <!-- Services -->
    <section id="services">


        <!-- Back To Top -->
        <a href="#home" id="back-to-top" class="btn btn-sm btn-yellow btn-back-to-top smooth-scroll hidden-sm hidden-xs"
            title="home" role="button">
            <i class="fa fa-angle-up"></i>
        </a>

        </footer>
        <!-- Footer Ends -->

        <!-- JQuery -->
        <script src="js/jquery.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="js/bootstrap/bootstrap.min.js"></script>

        <!-- Owl Carousel JS -->
        <script src="js/owl-carousel/owl.carousel.min.js"></script>

        <!-- Waypoints -->
        <script src="js/waypoints/jquery.waypoints.min.js"></script>

        <!-- Responsive Tabs JS -->
        <script src="js/responsive-tabs/jquery.responsiveTabs.min.js"></script>

        <!-- Isotope -->
        <script src="js/isotope/isotope.pkgd.min.js"></script>

        <!-- Magnific Popup -->
        <script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Counter -->
        <script src="js/counter/jquery.counterup.min.js"></script>

        <!-- Google Map JS -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9EdV2JfPG1Vfviw9gf_HlblIUfs7Ie2E"></script>

        <!-- Easing -->
        <script src="js/easing/jquery.easing.1.3.min.js"></script>

        <!-- WOW JS -->
        <script src="js/wow/wow.min.js"></script>

        <!-- Custom JS -->
        <script src="js/script.js"></script>

        <!-- Slide JS -->
        <script src="./js/slides.js"></script>

        <!-- Portfolio Slider -->
        <script src="js/swiper.min.js"></script>
        <!-- <script type="text/javascript">
    document.getElementsById('searchform').onsubmit = function(){
        windows.location = 'https//www.google.com/search?q=site:www.opendreams.org'
            return false;
     }
</script> -->

</body>

</html>