<form id="summerForm" class="contact100-form validate-form" method="post" action="mailto:cristina@open-dreams.org">
    <span class="contact100-form-title" style="text-align: center;">
        Application Form
    </span>
    <span class="contact100-form-title"><h3 style="color: gold; font-size: 18px;"><br><br>Profile Information<br></h3></span>

    <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
        <span class="label-input100" style="font-size: 18px;">Tell us your names*</span>
        <input class="input100" type="text" name="name1" placeholder="First Name"required>
    </div>

    <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required"><br>
        <input class="input100" type="text" name="name2" placeholder="Last Name"required>
    </div>

    <div class="wrap-input100" data-validate = "Valid email is required: ex@abc.xyz">
        <span class="label-input100" style="font-size: 18px;">Enter your email *</span>
        <input class="input100" type="text" name="email" placeholder="Enter your email"required>
    </div>

    <div class="wrap-input100">
        <span class="label-input100" style="font-size: 18px;">Your Address *</span>
        <input class="input100" type="text" name="address1" placeholder="State Address"required>
    </div>

    <div class="wrap-input100">
        <input class="input100" type="text" name="address2" placeholder="Street Address Line2">
    </div>

    <div class="wrap-input100 rs1-wrap-input100 validate-input">
        <input class="input100" type="text" name="city" placeholder="City"required>
    </div>
    <div class="wrap-input100 rs1-wrap-input100 validate-input">
        <input class="input100" type="text" name="region" placeholder="State/Provence"required>
    </div>

    <div class="wrap-input100">
        <input class="input100" type="number" name="code" placeholder="Postal/Zip Code">
    </div>

    <div class="wrap-input100 rs1-wrap-input100 validate-input">
        <span class="label-input100" style="font-size: 18px;">Phone Number</span>
        <input class="input100" type="number" name="area" placeholder="Area Code">
    </div>
    <div class="wrap-input100 rs1-wrap-input100 validate-input"><br>
        <input class="input100" type="number" name="phone" placeholder="Phone Number">
    </div>

    <div class="wrap-input100">
        <span class="label-input100" style="font-size: 18px;">Have you ever applied to the summer academy before?</span>
        <input class="input100" type="text" name="question1">
    </div>

    <span class="contact100-form-title">
        <h3 style="color: gold; font-size: 18px;"><br><br>Academic Information and Extracurricular Involvement<br></h3>
    </span>

    <div class="wrap-input100">
        <span class="label-input100" style="font-size: 18px;">What is your current or most recent Secondary/High School *</span>
        <input class="input100" type="text" name="question2">
        <i>You can include all institutions attended</i>
    </div>

    <div class="wrap-input100 rs1-wrap-input100 validate-input">
        <span class="label-input100" style="font-size: 18px;">Are You in the Arts, Sciences, or Commercial Area of studies? *</span>
        <select class="input100"required name="series">
            <option value="Arts">Arts</option>
            <option value="Sciences">Sciences</option>
            <option value="Commercial">Commercial</option>
        </select>
    </div>

    <div class="wrap-input100">
        <span class="label-input100" style="font-size: 18px;">Have you already taken either both the GCE Ordinary level and Advanced Level? If yes,enter Exams taken, if no, skip the next 4 questions *</span>
        <input class="input100" type="text" name="question3"required>
    </div>

    <div class="wrap-input100 rs1-wrap-input100 validate-input">
        <span class="label-input100" style="font-size: 18px;">What Year was/were the above Exam(s) taken?</span>
        <input class="input100" type="text" name="question4" placeholder="Ordinary Level">
    </div>
    <div class="wrap-input100 rs1-wrap-input100 validate-input"><br><br>
        <input class="input100" type="text" name="question5" placeholder="Advanced Level">
    </div>

    <div class="wrap-input100 rs1-wrap-input100 validate-input">
        <span class="label-input100" style="font-size: 18px;">Enter letter grades and number of points obtained for the subjects passed</span>
        <input class="input100" type="text" name="question6" placeholder="In the Ordinary Level">
    </div>
    <div class="wrap-input100 rs1-wrap-input100 validate-input"><br><br>
        <input class="input100" type="text" name="question7" placeholder="In the Advanced Level">
    </div>

    <div class="wrap-input100">
        <span class="label-input100" style="font-size: 18px;">Did/Do you belong to any club(s) on campus? *</span>
        <input class="input100" type="text" name="question8" placeholder="If yes, enter the club(s)"required>
    </div>

    <div class="wrap-input100">
        <span class="label-input100" style="font-size: 18px;">Did/Do you hold any leadership role on campus? *</span>
        <input class="input100" type="text" name="question9" placeholder="If yes, enter the position and mandate period"required>
    </div>

    <div class="wrap-input100 rs1-wrap-input100 validate-input">
        <span class="label-input100" style="font-size: 18px;">Have you ever been involved with any NGO/Community Based Organisation? *</span>
        <select class="input100"required name="question10">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <i>If No, donot answer the next question</i>
    </div>

    <div class="wrap-input100 validate-input">
        <span class="label-input100" style="font-size: 18px;">List up to 3 Organisation you have involved with</span>
        <textarea class="input100" name="message1"></textarea>
    </div>

    <div class="wrap-input100 validate-input">
        <span class="label-input100" style="font-size: 18px;">List up to 5 of your most recent and significant extracurricullar involvements and awards</span>
        <textarea class="input100" name="message2"></textarea>
        <i>If some of the awards were given by an Organisation, Please list the name of the Organisation</i>
    </div>

    <span class="contact100-form-title">
        <h3 style="color: gold; font-size: 18px;"><br><br>Essay Questions<br></h3>
    </span>

    <div class="wrap-input100 validate-input">
        <span class="label-input100" style="font-size: 18px;">Tell us about Yourself and your Family *</span>
        <textarea class="input100" name="message3"required></textarea>
    </div>

    <div class="wrap-input100 validate-input">
        <span class="label-input100" style="font-size: 18px;">What are your career aspirations in the long term goals? *</span>
        <textarea class="input100" name="message4"required></textarea>
    </div>

    <div class="wrap-input100 validate-input">
        <span class="label-input100" style="font-size: 18px;">In few words, describe your most significant extracurricular achievements *</span>
        <textarea class="input100" name="message5"required></textarea>
    </div>

    <div class="container-contact100-form-btn">
        <div class="wrap-contact100-form-btn">
            <div class="contact100-form-bgbtn">
                <p class="alert alert-warning">
                    please ensure you have filled all the required fields before submitting
                </p>
            </div>
            <button class="contact100-form-btn contact-btn" style="background-color: blue;">
                Submit
            </button>
        </div>
    </div>
</form>

<script src="/js/summerForm.js"></script>