<%- include('../layouts/header.ejs') %>
<link rel="stylesheet" href="../css/main.css">
<section id="home">
    <!-- Background Video -->
    <video id="home-bg-video" poster="video/solo.mp4" autoplay loop muted>
        <source src="../video/summerAcademy.mp4" type="video/mp4">
    </video>

      <!-- Overlay -->
      <div id="home-overlay"></div>

       <!-- Home Content -->
    <div id="home-content">

        <div id="home-content-inner" class="text-center">

            <div id="home-heading">
                <h1 id="home-heading-1">Open Dreams</h1><br>
                <div class="span" style="margin-top: -20px;">
                    <span class="span-hr-left">
                      <hr/>
                      <hr/>
                    </span>
                    <h1 id="home-heading-2"> <span>SUMMER ACADEMY</span></h1>
                    <span class="span-hr-right">
                      <hr/>
                      <hr/>
                    </span>
                  </div>
                <!-- <h1 id="home-heading-2"> <span>Organization</span></h1> -->
            </div>

            <div id="home-text">
                <p><br><br>We Started Open Dreams to help empower future leaders of Cameroon and Africa ~ Blaise Buma</p>
            </div>

            <div class="container">
                <div class="row wow fadeInUp display" data-wow-duration="2s" class="position">

                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 01 -->
                        <div class="stats-item text-center">
                            <i class="fa fa-bar-chart"></i>
                            <a href="#application_requirements" style="text-decoration: none;" class="smooth-scroll" class="position"><h4 class="text-light">Application Requirements</h4></a>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 02 -->
                        <div class="stats-item text-center">
                            <i class="fa fa-codepen"></i>
                            <a href="#acceptance_rate" style="text-decoration: none;" class="smooth-scroll"><h4 class="text-light">20% Acceptance Rate</h4></a>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 03 -->
                        <div class="stats-item text-center">
                            <a href="#form" class="smooth-scroll" style="text-decoration: none;">
                                <i class="fa fa-trophy"></i>
                                <h4 class="text-light">Apply Here</h4>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <!-- Stats Item 04 -->
                        <div class="stats-item text-center">
                            <i class="fa fa-users"></i>
                            <h4 class="text-light">Life at the Summer Academy</h4>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>


    <!-- Arrow Down -->
    <a href="#about" id="arrow-down" class="smooth-scroll" class="position">
        <i class="fa fa-angle-down"></i>
    </a>
</section>
<!-- About -->
<section id="about">
    <div class="row">
        <div class="col-md-7 col-sm-7 wow slideInLeft">

        </div>
    </div>

</section>
<!-- About Ends -->

<!-- Background Images-->


 <!--Application Requirement-->
    <section id="application_requirements">
        <div class="container">
        <h2>Application Requirements</h2>
        <p style="font-size: 18px; margin-left: 10px;">In addition to the application form here, please also submit via email the following documents to <a href="#">info@open-dreams.org</a></p>
        <ol style="font-size: 16px; margin-left: 10px;">
            <li>High school transcript</li>
            <li>Ordinary Level Certificate and Advanced Level  Certificate, if applicable.</li>
            <li>Two recommendation letters: Each student who wishes to apply will seek one recommendation letter from a teacher attesting to his/her academic aptitude and character. A second recommendation letter will be in the form of an institutional endorsement from the student's high school. You may request the institutional Endorsement Form and an Open Dreams template for the Letter of Recommendation by sending a mail to <a href="#">info@open-dreams.org</a></li>
            <li>There will be an interview component. Pre-selected students will be invited for an interview at the Open Dreams Education Hub at Mile 2, Nkwen, Bamenda and NextGen Tech Nsimeyong, Yaounde. If students do not live in Bamenda or Yaounde and cannot travel to the Hub, we will make accommodations via phone or Skype on a case-by-case basis.</li>
            <li>A recent passport-size photograph to be included in your profile.</li>
            <li>Any other certificate or testimonial of your accomplishments in leadership.</li>
        </ol><br/>
            <p style="font-size: 18px; margin-left: 10px;">For all other inquiries, send an email to <a href="#">info@open-dreams.org</a>. You may also contact any member of the team on whatsapp on the following numbers: +237 670688062. We shall only consider complete applications and no applications shall be received after the deadline.</p>
        </div>
    </section>
    <section id="acceptance_rate">
        <div class="container">
            <h2>Summer Academy</h2>
            <p style="font-size: 16px; margin-left: 10px;">Thank you for your interest in Open Dreams! Each summer we host an amazing and very intensive Open Dreams Summer Academy in Bamenda, Cameroon for high-achieving low-income Cameroonian students and this year Yaounde, Cameroon has been added. For three months, students study Math, English, Computer Programming, the Internet, International Education, Entrepreneurial Leadership and much more including taking part in very exciting extra-curricular activities and Community Service Learning (hands-on). Numerous Skype sessions are held with international Education experts to enhance the global experience. Students take College Preparatory Tests (SAT, TOEFL, Duolingo etc) weekly! The top-performing and committed students at the end of the program are then retained as Open Dreams Scholars and paired with Mentors to guide the student through the application processes for International Scholarships to top Universities Worldwide!  Read more about some of our incredible scholars and where they are now, at the bottom of this page and the website.</p>

            <p style="font-size: 16px; margin-left: 10px;">Are you a passionate, dedicated, and high-achieving Cameroonian student in lower-Sixth or nearly finished your high school studies??? Are you also a holder of the GCE Advanced Level Certificate not earlier than 2017 with a minimum score of 22 points and interested in studying abroad?  Are you very ambitions and eager to make a difference in the community? Then <a href="#form">APPLY NOW!</a>
            </p>
        </div>

    </section>
    <!-- Application Form -->

    <div id="background">
        <!-- <img src="/images/summer/background2.jpg" alt="background-2" class="img-responsive" width="100%"> -->
        <hr style="width: 10px">
        <img src="/images/summer/back1.png" width="100%" alt="background 2-1" class="img-responsive">
    </div>

    <section id="form">
        <div class="container-contact100">
    <div class="wrap-contact100">
        <div class="errors"></div>

        <%- include('./summerForm.ejs') %>
        <div class="success"></div>
    </div>
</div>
</section>

<script src="./js/main.js"></script>
<!-- <script type="text/javascript">
  document.getElementsById('searchform').onsubmit = function(){
      windows.location = 'https//www.google.com/search?q=site:www.opendreams.org'
          return false;
   }
</script> -->

<%- include('../layouts/footer.ejs') %>
