<%- include('../layouts/header.ejs') %>
<link rel="stylesheet" href="../css/main.css">

 <!--Application Requirement-->
    <section id="application_requirements">
        <div class="container">
        <h2>The Open Dreams Summer Academy, ODSA2021</h2><br/>
				<p style="font-size: 16px; margin-left: 10px;">
					Thank you for your interest in Open Dreams. Each summer, we host an amazing and very intensive Open Dreams Summer Academy in Cameroon for high-achieving low-income students. For three months, students study Math, English, Computer Programming, Entrepreneurial Leadership, International Education, Blogging, Public Speaking and much more including taking part in very exciting challenges (hackathons) extra-curricular activities and Community Service Learning (hands-on) and community engagement, in line with the sustainable development goals. Numerous Zoom sessions are held with International Education experts to enhance the global experience. Students take College Preparatory Tests (SAT, TOEFL, IELTS, Duolingo, GRE etc) weekly! The top-performing and committed students at the end of the program are then retained as Open Dreams Scholars and paired with Mentors to guide the student through the application processes for International Scholarships to top Universities Worldwide. Read more about some of our incredible scholars and where they are now on our website and our Facebook page.
					Are you a passionate, dedicated, and high-achieving Cameroonian student in lower-Sixth or upper sixth with a burning desire to go beyond to achieve your dreams? Are you also a holder of the GCE Advanced Level Certificate not earlier than 2020 with a minimum score of 22 points and interested in studying abroad? Are you very ambitions and eager to make a difference in the community? Then <a href="/summer#form">APPLY NOW!</a> The summer Academy will run this year from Monday July 19th – August 28th 2021. 
				</p><br/>
        <h2>Application Requirements</h2>
        <p style="font-size: 18px; margin-left: 10px;">In addition to the application form here, please also submit via email the following documents to <a href="#">info@open-dreams.org</a></p>
        <ol style="font-size: 16px; margin-left: 10px;">
            <li>High school transcript</li>
            <li>Ordinary Level Certificate and Advanced Level  Certificate, if applicable.</li>
            <li>Two recommendation letters: Each student who wishes to apply will seek one recommendation letter from a teacher attesting to his/her academic aptitude and character. A second recommendation letter will be in the form of an institutional endorsement from the student's high school. You may request the institutional Endorsement Form and an Open Dreams template for the Letter of Recommendation by sending a mail to <a href="#">info@open-dreams.org</a></li>
            <li>There will be an interview component. Pre-selected students will be invited for an interview at the Open Dreams Education Hub in Yaoundé or Mile 2 Nkwen, Bamenda or via Zoom. The Summer Academy shall run exclusively in Yaoundé. Hence, anyone applying must have a provision to spend three months in Yaoundé during the summer.</li>
            <li>A recent passport-size photograph to be included in your profile.</li>
            <li>Any other certificate or testimonial of your accomplishments in leadership.</li>
        </ol><br/>
            <p style="font-size: 18px; margin-left: 10px;">For all other inquiries, send an email to <a href="#">info@open-dreams.org</a>.org. We shall only consider complete applications and no applications shall be received after the June 30th, 2021 deadline</p>
        </div>
    </section>
    <!-- Application Form -->
    <div class="text-center"><p class="alert alert-warning">Applications are now closed</p></div>
    <section id="form">
        <div class="container-contact100">
    <div class="wrap-contact100">
        <div class="errors"></div>

        <!-- <%- include('./summerForm.ejs') %> -->
        <div class="success"></div>
    </div>
</div>
</section>

<script src="./js/main.js"></script>
<!-- <script type="text/javascript">
  document.getElementsById('searchform').onsubmit = function(){
      windows.location = 'https//www.google.com/search?q=site:www.opendreams.org'
          return false;
   }
</script> -->

<%- include('../layouts/footer.ejs') %>
