 
  <!-- <footer class="text-light bg-primary">
    <div class="container">
      <p class="float-right">
        <a href="body" id="back-to-top" data-scroll=".navbar" class="btn btn-lg btn-yellow btn-back-to-top smooth-scroll d-none" title="home" role="button">
          &uarr;
        </a>
      </p>
      <div class="row">
        <div class="col-md-12 rights">
          <p>All rights reserved copyright &copy; - AfroMeme </p>
          <p>By &#64;the black dev</p>
        </div>
      </div>
    </div>
  </footer> -->
<script src="/js/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap/bootstrap.bundle.js.map"></script> -->

<!-- <script src="/bootstrap.min.js"></script> -->
<script src="/js/dashboard.js"></script>

<!-- Magnific Popup -->
<script src="/js/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Easing -->
<script src="/js/easing/jquery.easing.1.3.min.js"></script>
        <!-- scrollspy -->
<!-- <script src="/js/scrollspy/smartScroll.js"></script> -->

<!-- Custom JS -->
<script src="/js/script.js"></script>
<script src="/js/cart.js"></script>
</body>

</html>