<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Basic SEO -->
 <meta name="description" content="meme website to laugh and chill">
 <meta name="keywords" content="Afromeme, afromeme, afro meme, afromeme cameroon, afromeme cameroun, the black dev, theblackdev, marc sitze, wembe, sitze, jorelmarc, marcjazer, marc jazer">
    <!-- Title -->
    <title>shop</title>
    <link rel="shortcut icon" href="/img/favicon/fav-32x32.png">
    <!-- <script src="/js/jquery.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css.map"> -->

    <!-- Magnific popUp -->
    <link rel="stylesheet" href="/css/magnific-popup/magnific-popup.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/album.css">

    <link rel="stylesheet" href="/css/dashboard.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">

</head>

 <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top" id="head">
  <div class="container">
    <a class="navbar-brand text-light" href="/">AfroShop</a>
    <button class="navbar-toggler text-light" type="button" id="colapseBtn" data-toggle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light">&#9776;</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/login">Login</a>
        </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/register">Register</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-light" href="/cart">Cart</a>
          </li> -->
          <li class="submenu nav-item">
            <a class="nav-link text-light" href="/cart">CART</a>
            <div id="shopping-cart">
                    <table id="cart-content" class="u-full-width">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Number</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <a href="#" id="clear-cart" class="button u-full-width">Clear Cart</a>
              </div>
          </li>
      </ul>
    </div>
  </div>
</nav>